footer
     .container
         nav.nav-footer
              a.active(href='/home') Home
              span.separator
              a(href='/contact') Contact
         span.coopyright Copyright 2016 Display. All rights reserved.


