header
   .container
       .logo-container
           a(href='/home')
           span.logo-emblem D
           span.logo-text Display
       .links-container
            a(href=''): i.fa.fa-twitter
            a(href=''): i.fa.fa-facebook
            a(href=''): i.fa.fa-rss
            a(href=''): i.fa.fa-printerest
            a(href=''): i.fa.fa-google-plus
            a(href=''): i.fa.fa-dribbble
   .container
            nav.nav-main
                a.active(href='/home') Home
                a(href='/contact') Contact