extends layout.pug
block scripts
    script(src='js/validation.js')
    script(src='../js/filter.js' )
    script(src='js/portfolio_tools.js')

block content

     include header.pug

     .panel
         .container
             .row
                 .col-xs-12.col-md-6.pull-right
                     form#login-form.login-section(name='loginForm', method='POST', action='/login', onsubmit='return validate(loginForm)')
                         .login-section-col
                             input(type='text', name='username', placeholder='Username')
                             input(type='password', name='password', placeholder='Password')
                         .login-section-col
                             input.btn(type='submit', value='Log In')
                 .col-xs-12.col-md-6.pull-left
                     h1.page-title Check out our work
     section
         .container
             ul#category-list.works-nav
                 li.works-nav-item(data-category='all')
                      span.nav-link.active(data-category='all') All
                 li.works-nav-item(data-category='print')
                      span.nav-link(data-category='print') Print
                 li.works-nav-item(data-category='photography')
                      span.nav-link(data-category='photography') Photography
                 li.works-nav-item(data-category='web')
                      span.nav-link(data-category='web') Web
                 li.works-nav-item(data-category='applications')
                      span.nav-link(data-category='applications') Applications
             .row.works-content-container
                 ul.works-content
                     div!=data


block footer
     .works-contact-panel
         .container
             h2 Are you impressed by our creativity?
             a.btn.btn-contact(href='/contact') Contact us right now
     include footer





